.indicator {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50%;
}

.true.indicator {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.bottom-container {
  display: flex;
  width: 80%;
  justify-content: center;
}

.animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgreen;
  width: 100%;
  height: 40vh;
  justify-content: stretch;
}

.isOpen .left {
  right: -100vw;
}
.isOpen .right {
  left: -100vw;
}

.clicker {
  border: 2px solid red;
  cursor: pointer;
}
.door-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.left,
.right {
  background-color: teal;
  width: 100%;
  border: 5px solid blue;
  text-align: center;
  height: inherit;
}
.door {
  text-align: center;
  width: 100%;
  height: 100%;
}

.empty {
  width: 100%;
  height: 100%;
  /* order: ; */
  transition: all 0.05 ease-out;
  text-align: center;
  border: 1.5px solid black;
}

.floor-button-container {
  display: flex;
  flex-direction: column-reverse;
}
.outside-call-button-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border: 2px solid red;
}
.up-and-down-outside-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}
.up-and-down-indicator-container {
  padding-top: 4px;
}
.directional-button {
  display: flex;
  flex: 1;
  padding-left: 10px;
  height: 60px;
  width: 60px;
}
.single-button-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
}
.inside-call-button {
  font: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
}
